@model PagedList.IPagedList <PayRoll.Models.Employee>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListSouthAfricanEmployees";
}

<h2>List South African Employees</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
           Lastname
        </th>
        <th>
           Position
        </th>
        <th>
           Country
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeAddress.Country)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td> No Employees Found</td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListAllEmployees",
    new { page }))
<br />

@Html.ActionLink("Back to List", "Index")